:root {
  --color-text-background: #f5f2fe;
  --primary-font-button-color: #6c63ff;
  --second-font-color: #4c4c4c;
}

body {
  padding-top: 100px;
}
.logo {
  height: 40px;
}
.navigation {
  font-size: 24px;
  margin-bottom: 30px;
}
.big-font {
  font-size: 96px;
  margin: 0 10px;
}
.small-font {
  font-size: 24px;
  margin-top: 0;
  color: var(--second-font-color);
}
.medium-font {
  font-size: 48px;
  margin-bottom: 5px;
}
.small-font,
.medium-font,
.big-font {
  text-align: center;
}
.information {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  margin: 30px 0;
}

#homepage-link {
  display: block;
  text-align: center;
  color: var(--primary-font-button-color);
}
#email-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--primary-font-button-color);
  font-size: 28px;
}
#email-link:hover {
  text-decoration: underline;
}
#email-link:focus {
  outline: none;
}
.img-proekt {
  border: 5px solid white;

  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .big-font {
    font-size: 40px;
  }
  .medium-font {
    font-size: 30px;
  }

  .small-font {
    font-size: 20px;
  }

}
@media (min-width: 768px) and (max-width: 1200px) {
  .medium-font {
    font-size: 30px;
  }

  .big-font {
    font-size: 70px;
  }
  .small-font {
    font-size: 20px;
  }
}
