:root {
  --color-text-background: #f5f2fe;
  --primary-font-button-color: #6c63ff;
  --second-font-color: #4c4c4c;
}
body {
  padding-top: 100px;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.logo {
  height: 40px;
}
.navigation {
  font-size: 24px;
}
#presentation {
  text-align: center;
}
#presentation h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #636669;
  line-height: 2;
}
#presentation p {
  font-size: 36px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.medium-font {
  font-size: 48px;
  margin-bottom: 5px;
}

.big-font {
  font-size: 96px;
  margin: 0 10px;
}
.small-font {
  color: var(--second-font-color);
  font-size: 24px;
  margin-top: 0;
}

#projects p {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: #272142;
}
#projects h2 {
  margin-bottom: 68px;
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 700;
  color: #000000;
}
.buttons-container {
  display: flex;
  justify-content: center;
  margin: 40px 0 48px 0;
}

.buttons {
  margin: 20px;
  padding: 18px 30px;
  background-color: var(--primary-font-button-color);
  border-radius: 4px;
}

.buttons a {
  text-decoration: none;
  color: #f2fefd;
}
#button-contact,
#yoga-button,
#yogurt-button,
#weather-button {
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
}
#button-contact:hover,
#yoga-button:hover,
#yogurt-button:hover,
#weather-button:hover {
  opacity: 0.9;
}
#button-about {
  background-color: #fff;
  border: 1px solid var(--primary-font-button-color);
  transition: background-color 0.3s ease-in-out;
}
#button-about:hover {
  background-color: #dddae8;
}
#button-about a {
  color: var(--primary-font-button-color);
}
.padding {
  padding: auto 60px !important;
}

@media (max-width: 767px) {
  #projects h2 {
    font-size: 30px;
  }
  #projects p {
    font-size: 14px;
  }

  .buttons {
    padding: 15px 10px;
    margin-right: 0;
  }

  .col-md-6 {
    text-align: center;
    display: block;
    width: 100%;
  }

  .col-md-6 img {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  #projects h2 {
    font-size: 40px;
  }
  #project p {
    font-size: 16px;
  }
}
